<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="showNavbar">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="dashboard">Fruit & Nut</a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="Javascript:void(0)">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Javascript:void(0)">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Javascript:void(0)">Orders</a>
          </li>
          <li class="nav-item" *ngIf="adminAccess">
            <a class="nav-link" routerLink="create">Create</a>
          </li>
        </ul>
        <span class="navbar-text">
          HI {{username}}
        </span>
        <span class="navbar-text">
            <a class="nav-link" (click)="SignOut()" href="Javascript:void(0)">SignOut</a>
        </span>
      </div>
    </div>
  </nav>
